<!-- {{ formName.value | json }} -->
{{ friend | json }}
<section class="main">
  <form action="" class="form" #formName="ngForm" novalidate (ngSubmit)="onSubmit()">
    <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="friend.firstName" required
      [class.error]="firstName.invalid && firstName.touched" pattern="^[a-zA-Z]+$">
    <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="friend.lastName" required
      [class.error]="lastName.invalid && lastName.touched" pattern="^[a-zA-Z]+$">
    <input type="email" name="email" #email="ngModel" [(ngModel)]="friend.email" required
      [class.error]="email.invalid && email.touched" email="true">
    <input type="text" name="phone" #phone="ngModel" [(ngModel)]="friend.phone" required
      [class.error]="phone.invalid && phone.touched" pattern="^[0-9]{10}$">
    <select name="language" #language="ngModel" [(ngModel)]="friend.language" required
      [class.error]="language.invalid && language.touched">
      <option value="HTML">HTML</option>
      <option value="JavaScript">JavaScript</option>
      <option value="PHP">PHP</option>
      <option value="React">React</option>
      <option value="Angular">Angular</option>
    </select>
    <button class="btn" [disabled]="!formName.valid">Submit</button>
  </form>
  <div *ngFor="let friend of allFriends">{{friend.firstName}} {{friend.lastName}}</div>
</section>

<router-outlet></router-outlet>